:root {
  --text-color: white;
  --text-color-gray: gray;
  --primary-color: red;
  --secondary-color: gray;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: gray;
}

html {
  min-width: 100vh;
}

.weeje {
  color: yellow;
}




/* Video Background */

#video-background {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* Fonts */
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Navigation */

@media (max-width: 992px) {
  .offcanvas {
    max-width: 100vh;
  }

  .offcanvas-header {
    margin-bottom: 40%;
  }

  .offcanvas-body li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
  }

  .weather-card {
    margin-top: 90%;
  }
}


.navigation-button {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navigation-button i {
  position: fixed;
  margin: 15px;
}

.navigation-button i:hover {
  color: var(--primary-color);
}

.offcanvas-body li {
  list-style-type: none;
  padding-bottom: 15px;
}

.offcanvas-body li a {
  color: var(--text-color);
}

.offcanvas-body li a:hover {
  transition: 0.5s ease-in-out;
  color: var(--primary-color);
}

.offcanvas {
  background: rgba(0, 0, 0, 0.8) !important;
  color: var(--text-color) !important;
}

.close-btn {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border: none;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 6px 4px;
}

/* weather */
.search {
    display: none;
}

.card {
    background: rgba(0, 0, 0, 0.8) !important;
    color: var(--text-color) !important;
    padding: 2vh;
    margin: 2vh;
  }

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 20px;
}

/* Hero */
#hero {
  height: 100vh;
  width: auto;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  color: var(--primary-color);
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Back to top */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  text-decoration: none;
}

.back-to-top i {
  font-size: 28px;
  color: black;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primary-color);
  color: white;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Information */
#information {
  min-height: 100vh;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 100vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}


#information .row{
  padding-top: 5vh;
  padding-right: 5vh;
  margin-left: 5vh;
}

#information .information-img{
  width: 100%;
  opacity: 70%;
}

#information .text a {
  color: var(--text-color)
}


#information .imp {
  color: var(--primary-color);
  text-decoration: solid;
  font-weight: 700;
}

#information .text {
  color: var(--text-color);
  text-decoration: solid;
  font-weight: 400;
}

@media (max-width: 992px) {
  #information {
    width: auto;
    min-width: none;
  }

  #information .dislay-none-mobile {
    display: none;
  }

  #information .row {
    padding-top: 5vh;
    padding-right: 0vh;
    margin-left: 0vh;
  }
}
